body {
  background: #0A0F2C; 
}

.counter{
    text-align: center;
} 
h1{
  color: #22D3EE;
  text-shadow: 0 0 10px #22D3EE;
}


.counter-flash{
    margin-top: 100px;
    height:100px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius:20px;
    position: relative;
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
}


.counter-flash::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(120deg, #00f, #0ff, #00f, #0ff, #00f);
    background-size: 200% 200%;
    animation: animate 5s linear infinite;
    z-index: -1;
  }

  
  .counter-flash::after {
    content: "";
    position: absolute;
    background: #1E1B4B; 
    border-radius: 16px;
    z-index: -1;
  }
  
  @keyframes animate {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.counter-card{
    height:90px;
    width: 290px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #E0F2FE;
    border-radius:20px;
    padding: 40px;
    border-radius: 20px;
    z-index: 1; 
    box-shadow: 0 0 20px rgba(34, 211, 238, 0.4);
}

#para{
  
    background-color:none;
    margin: 20px;
}

#btn{
    padding: 10px 20px;  
    margin: 10px;
    border-radius: 10px;
    background: #093FB4; 
    color: #ffff;
    border: none;
    cursor: pointer;
    font: 1em sans-serif;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#btn:hover {
  background: #2563EB;
    background-color: #0077CC;  /* darker shade on hover */
    transform: translateY(-2px); /* slight lift on hover */
  }
  
  #btn:active {
    transform: translateY(0); /* remove lift when clicked */
  }